################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp/v15
/ConsoleApp/bin/Debug/netcoreapp2.0
/ConsoleApp/obj
